<div class="container mt-5" style="margin-left: 30%;">


    <div class="row">
        <aside class="col-sm-4">

    <div class="card">
    <article class="card-body">

    <h4 class="card-title mb-4 mt-1 ml-5">Sign in</h4>
         <form>
        <div class="form-group">
            <label class=" float-left">Email</label>
            <input [(ngModel)]="userData.email" name="email" class="form-control" placeholder="Email" type="email">
        </div> <!-- form-group// -->
        <div class="form-group">

            <label class=" float-left">Password</label>
            <input [(ngModel)]="userData.password" name="password" class="form-control" placeholder="******" type="password">
        </div> <!-- form-group// -->
        <div class="form-group">
        <div class="checkbox">
          <label> <input type="checkbox"> Save password </label>
        </div> <!-- checkbox .// -->
        </div> <!-- form-group// -->
        <div class="form-group">
            <a [routerLink]="['/register']" routerLinkActive="router-link-active">Don't have an account?</a>
            <br>

            <button (click)="loginUser()" type="submit" class="btn btn-primary btn-block"> Login  </button>
        </div> <!-- form-group// -->
    </form>
    </article>
    </div> <!-- card.// -->

        </aside> <!-- col.// -->
        <aside class="col-sm-4">
