<div class="container mt-5" style="margin-left: 30%; margin-top:20%">


    <div class="row" >
        <aside class="col-sm-4">

    <div class="card">
    <article class="card-body">

    <h4 class="card-title mb-4 mt-1 ">Register</h4>
         <form>

        <div class="form-group">
            <label class=" float-left">Email</label>
            <input [(ngModel)]=" registerUserData.email" name="email" class="form-control rounded-0" placeholder="Email" type="email" required>
        </div> <!-- form-group// -->
        <div class="form-group">
            <label class=" float-left">Password</label>
            <input [(ngModel)]="registerUserData.password" name="password" class="form-control rounded-0" placeholder="******" type="password" required>
        </div>

        <!-- form-group// -->
        <div class="form-group">
        <div class="checkbox">
          <label> <input type="checkbox"> Save password </label>
        </div> <!-- checkbox .// -->
        </div> <!-- form-group// -->
        <div class="form-group"><a [routerLink]="['/login']" routerLinkActive="router-link-active" >Already have an account?</a> </div>
        <div class="form-group">
            <button (click)="registeruser()" type="submit" class="btn btn-primary btn-block"> Register  </button>
        </div> <!-- form-group// -->
    </form>
    </article>
    </div> <!-- card.// -->

        </aside> <!-- col.// -->
        <aside class="col-sm-4">
